
body{
    margin: 0;
    padding: 0;
}
p{
    min-width: 220px;
    max-width: 220px;
    color: rgba(255, 255, 255, 0.737);
}
h1{
    color: white;
}
.container{
    max-width: 870px;
    margin: 26vh auto;
    display: flex;
    justify-content: center;
}
.item{
    max-width: 80%;
    margin: 0 auto;
    text-align: left;
    padding-right: 40px;
    padding-left: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.Sedans{
    background:hsl(31, 77%, 52%) ;
}
.Sedans button{
    color:hsl(31, 77%, 52%) ;
    font-weight: 400;
}
.SUVs{
    background: hsl(184, 100%, 22%);
}
.SUVs button{
    color: hsl(184, 100%, 22%);
}
.Luxury{
    background: hsl(179, 100%, 13%);
}
button{
    background: white;
    width: 50%;
    margin-top: 10px;
    padding:14px ;
    border: none;
    border-radius: 25px;
}
@media (max-width:425px){
    .container{
        display: block;
        margin: 0;
        margin-left: 10px;
        margin-right:10px ;
    }
}
